set_io --warn-no-port sram_adr_o[0]  N2
set_io --warn-no-port sram_adr_o[1]  K5
set_io --warn-no-port sram_adr_o[2]  J5
set_io --warn-no-port sram_adr_o[3]  M5
set_io --warn-no-port sram_adr_o[4]  P4
set_io --warn-no-port sram_adr_o[5]  N5
set_io --warn-no-port sram_adr_o[6]  P5
set_io --warn-no-port sram_adr_o[7]  P7
set_io --warn-no-port sram_adr_o[8]  M6
set_io --warn-no-port sram_adr_o[9]  P6
set_io --warn-no-port sram_adr_o[10] T8
set_io --warn-no-port sram_adr_o[11] T1
set_io --warn-no-port sram_adr_o[12] P2
set_io --warn-no-port sram_adr_o[13] R1
set_io --warn-no-port sram_adr_o[14] N3
set_io --warn-no-port sram_adr_o[15] P1
set_io --warn-no-port sram_adr_o[16] M11
set_io --warn-no-port sram_adr_o[17] P10
set_io --warn-no-port sram_adr_o[18] P8

set_io --warn-no-port sram_dat_io[0]  T2
set_io --warn-no-port sram_dat_io[1]  R3
set_io --warn-no-port sram_dat_io[2]  T3
set_io --warn-no-port sram_dat_io[3]  R4
set_io --warn-no-port sram_dat_io[4]  R5
set_io --warn-no-port sram_dat_io[5]  T5
set_io --warn-no-port sram_dat_io[6]  R6
set_io --warn-no-port sram_dat_io[7]  T6
set_io --warn-no-port sram_dat_io[8]  N4
set_io --warn-no-port sram_dat_io[9]  M4
set_io --warn-no-port sram_dat_io[10] L6
set_io --warn-no-port sram_dat_io[11] M3
set_io --warn-no-port sram_dat_io[12] L4
set_io --warn-no-port sram_dat_io[13] L3
set_io --warn-no-port sram_dat_io[14] K4
set_io --warn-no-port sram_dat_io[15] K3

set_io --warn-no-port sram_ce_on   M7
set_io --warn-no-port sram_we_on   T7
set_io --warn-no-port sram_oe_on   L5
set_io --warn-no-port sram_lbe_on  J4
set_io --warn-no-port sram_ube_on  J3

set_io --warn-no-port led0       C8
set_io --warn-no-port led1       F7
set_io --warn-no-port led2       K9
set_io --warn-no-port switch0    K11
set_io --warn-no-port cpu_reset  P13
set_io --warn-no-port fpga_clk   R9

